body {
  width: 100vw;
  height: 100vh;
  min-width: 375px;
  background-color: #CAF0F8;
}

.head-box {
  background-color: #023E8A;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #CAF0F8;
  margin: 0;
}

.logo {
  font-size: 80px;
  font-weight: bold;
  margin-top: -6%;

}

.thanks-msg {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-box {
  min-height: 70vh;
  max-height: 70vh;
  background-color: #0077B6;
  overflow-y: scroll;
  scrollbar-width: none;
}

#container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-box {
  min-height: 10vh;
  background-color: #023E8A;
  color: #CAF0F8;  
}

.column {
  flex-wrap: wrap;
  float: left;
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: #023E8A;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-img-top {
  height: 100px;
  width: 100px;
}

.product-info {
  display: none;
  background-color: #ADE8F4;
  position: fixed;
  height: 75%;
  width: 50%;
  top: 12.5%;
  left: 25%;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.2);
  scrollbar-width: none;
  padding: 10px;
}

.product-info > * {
  background-color: #ADE8F4;
}

#levAdress > * {
  margin: 2px;
}

#bstInfoSite > * {
  color: white;
  size: 50px;
}

a:link, a:visited {
  text-decoration: none;
  color: #CAF0F8;
}

a:hover {
  text-decoration: none;
  color: #ADE8F4;
}

.confi-p{
  max-width: 25%;
}

#counter{
  position: absolute;
  /* top: 16.5%;
  right: 7.5%; */
  color: red;
  font-size: 130%;
  font-family: fantasy;
  /* margin-top: -8.5vh; */

}

@media (max-width: 475px) {
  .product-info {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0px;
      padding: 10px;
  }

  .kundvagn {
    width: 50px;
    height: 50px;
  }

  #counter {
    font-size: 80%;
  }
}

@media (min-width: 475px) and (max-width: 600px) {
  .product-info {
      width: 70%;
      height: 75%;
      left: 15%;
      top: 12,5%;
      border-radius: 10px;
      padding: 10px;
  }

  .kundvagn {
    width: 75px;
    height: 75px;
  }

  #counter {
    font-size: 100%;
  }

  /* .head-box {
    color: red;
    font-size: 25px;
    font-family: fantasy;
    margin-left: -55px;
  
    } */
}


.inCart{
background-color: #ADE8F4;
height: 70vh;
width: 50vw;
  
}

.cart {
  display:none;
  background-color: #ADE8F4;
  position: fixed;
  height: 80%;
  width: 80%;
  top: 10.5%;
  left: 10%;
  overflow-y: auto;
  scrollbar-width: none;
  border-radius: 10px;
  box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  
}

.cart-counter-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kundvagn {
  position: absolute;
}

#kundvagn-ikon:hover{
 cursor: pointer;
 transform: scale(1.1);
 transition: transform 0.5s ease;
}

#counter{
  pointer-events: none;
  transform: scale(1.1);
 transition: transform 0.5s ease;
}

.about-card-button:hover{
  box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: black;
  
}

.card-button:hover{
  box-shadow: -10px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: black;
}

/*.navbar{
  background-color: red;
  height: 50px;
  width: 100%;
  position: relative;
  top: 65px;
  left: -10%;
}*/

.kryss{
 cursor: pointer;
}

.cart-pic{
  height: 100px;
  width: 100px;
}

.cart-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*margin-bottom: 100px;
  margin-top: 40px;
  margin-left: 30px;*/
  padding: 20px;
  position: relative;
}





.cart-header {
  position: sticky;
  top: 0;
  padding: 10px; 
  z-index: 1000; 
}



.cart-header .exitbutton {
  position: absolute;
  top: 10px; 
  right: 10px;
  cursor: pointer;
  
}

.cart-footer .lets-buy {
 
  cursor: pointer;
  
}

.empty-all:hover{
cursor: pointer;
 transform: scale(1.1);
 transition: transform 0.5s ease;
}

.delete-one-product{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.delete-one-product:hover{
  cursor: pointer;
   transform: scale(1.1);
   transition: transform 0.5s ease;
  }

  .amount-input{
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .amount-minus,
  .amount-plus{
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 30px;

  }

  .amount-minus{
    margin-left: 10px;
  }

  .amount-plus{
    margin-right: 10px;
  }